apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-server-deployment
  labels:
    app: hello-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello-server
  template:
    metadata:
      labels:
        app: hello-server
    spec:
      containers:
      - name: hello-server-container
        image: davidbp11/hello-world-server:latest 
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          limits:
            memory: "128Mi"
            cpu: "250m"
          requests:
            memory: "64Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: hello-server-service
spec:
  type: LoadBalancer 
  selector:
    app: hello-server
  ports:
    - port: 80
      targetPort: 8080